<h1>It works!</h1>

<% if user_signed_in? %>
  <li>
    <span>You are logged in as <%= @current_user.email %></span>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </li>
<% else %>
  <li>
    You are not signed in <%= link_to('Login', new_user_session_path)  %>
  </li>
<% end %>
